*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-color: #1abc9c;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.addbtn{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #2d3436;
    color: white;
    padding: 10px;
    border: 0;
    outline: 0;
}
.note{
    width: 350px;
    height: 350px;
    background-color: white;
    margin: 15px;
    margin-top: 55px;
}
.toolbar{
    width: 100%;
    background-color: #2d3436;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;
}
.toolbar i {
    padding: 5px;
    cursor: pointer;
}
.note textarea{
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
    padding:10px ;
    font-size: 20px;
}